<?xml version="1.0"?>
<config>
    <modules>
        <Etailer_TrademeCategory>
            <version>1.0.1</version>
        </Etailer_TrademeCategory>
    </modules>
    <global>
        <blocks>
            <trademe_category>
                <class>Etailer_TrademeCategory_Block</class>
            </trademe_category>
            <adminhtml>
                <rewrite>
                    <catalog_product_edit_tab_categories>Etailer_TrademeCategory_Block_Catalog_Product_Edit_Tab_Categories</catalog_product_edit_tab_categories>
                </rewrite>
            </adminhtml>
        </blocks>

        <models>
            <trademe_category>
                <class>Etailer_TrademeCategory_Model</class>
            </trademe_category>
        </models>
        <resources>
            <trademe_category_setup>
                <setup>
                    <module>Etailer_TrademeCategory</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </trademe_category_setup>
            <trademe_category_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </trademe_category_read>
            <trademe_category_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </trademe_category_write>
        </resources>
    </global>
    <adminhtml>
        <events>
            <catalog_category_load_after>
                <observers>
                    <trademe_category_catalog_category_load_after>
                        <class>trademe_category/observer</class>
                        <method>lockCategories</method>
                    </trademe_category_catalog_category_load_after>
                </observers>
            </catalog_category_load_after>
        </events>
    </adminhtml>
</config>
